@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
	
body {
	font: var(--font-body);
	color: var(--color-primary-default);
}

:root {
	/* Fonts */
	--font-header: 700 3.6rem / 1 "Poppins", sans-serif; 
	--font-sub-header: 400 2.4rem / 1 "Poppins", sans-serif;
	--font-body: 400 2rem / 1 "Poppins", sans-serif;
	--font-small-text: 300 1.4rem / 1 "Poppins", sans-serif; 
}