.header {
	grid-column-start: 2;
	align-self: self-start;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--color-secondary-default);
	padding: var(--gap-medium) var(--gap-large);
}

.header__title {
	text-transform: uppercase;
}

/* Create playlist */
.header__create-playlist-button {
	display: none;
	gap: var(--gap-small);
}

.header__create-playlist-button--visible {
	display: flex;
}

.header__create-playlist-icon {
	width: 2.8rem;
	height: 2.8rem;
}

.header__create-playlist-icon img {
	filter: var(--filter-primary-default);
}

.header__create-playlist-button:hover,
.header__create-playlist-button:active {
	color: var(--color-primary-darkest);
}

.header__create-playlist-button:hover .header__create-playlist-icon img,
.header__create-playlist-button:active .header__create-playlist-icon img {
	filter: var(--filter-primary-darkest);
}

/* Header message */
.header__message-container {
	position: relative;
}

.header__message {
	transition: transform var(--duration-medium) ease-in-out, opacity var(--duration-medium) ease-in-out;
	transform: translateY(var(--gap-medium));
	opacity: 0;
	pointer-events: none;
}

.header__message--open {
	transform: translateY(0);
	opacity: 1;
	pointer-events: unset;
}

@media only screen and (max-width: 700px) {
	.header__create-playlist-button-title {
		display: none;
	}
}