.main-window-container {
	grid-row: 2 / 3;
	overflow-y: auto;
	height: 100%;
}

.main-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-extra-large);
	padding: 0 var(--gap-large);
}

.main-window-container::-webkit-scrollbar {
	width: 1rem;
	background-color: var(--color-secondary-default);
}

.main-window-container::-webkit-scrollbar-thumb:hover  {
	background-color: var(--color-primary-default);
	cursor: pointer;
}

.main-window-container::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary-lighter);
}

/* Message: reached bottom */
.main-window__reached-bottom {
	text-align: center;
	padding: var(--gap-large) var(--gap-extra-large);
	border-top: solid 0.1rem var(--color-secondary-lighter);
	border-bottom: solid 0.1rem var(--color-secondary-lighter);
}

@media only screen and (max-width: 900px) {
	.main-window {
		grid-row: unset;
		grid-column: 1 / -1;
		order: 0;
	}

	.main-window--player-open {
		margin-bottom: var(--player-height);
	}
}