.playlist {
	position: relative;
	width: 100%;
	border-bottom: solid 0.1rem var(--color-secondary-lightest);
}

/* Playlist header */
.playlist__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--gap-medium);
}

.playlist__header:hover,
.playlist__header:hover + .playlist__songs-container,
.playlist__header:hover + .playlist__no-songs {
	background-color: var(--color-secondary-lighter);
}

.playlist__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.playlist__title-input {
	width: 15rem;
	font: var(--font-sub-header);
	text-transform: uppercase;
	text-align: start;
	margin-bottom: var(--gap-extra-small);
}

.playlist__additional-info {
	display: flex;
	gap: var(--gap-extra-large);
	font: var(--font-small-text);
	color: var(--color-primary-darker);
	margin-top: var(--gap-small);
}

.playlist__additional-info div {
	position: relative;
}

/* Round icon between info */
.playlist__additional-info div:not(:last-child):after {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left: calc(var(--gap-extra-large) / 2);
	transform: translate(-50%, -50%);
	content: '';
	width: 0.6rem;
	height: 0.6rem;
	background-color: var(--color-primary-darker);
	border-radius: 50%;
}

.playlist__menu-button {
	opacity: 0;
	width: 3rem;
	height: 3rem;
}

.playlist__header:hover .playlist__menu-button,
.playlist__header:focus .playlist__menu-button,
.playlist__header:focus-within .playlist__menu-button {
	opacity: 1;
}

.playlist__menu-button img {
	filter: var(--filter-primary-default);
}

.playlist__menu-button:hover img {
	filter: var(--filter-primary-darkest);
}

.playlist__no-songs {
	text-align: center;
	padding-bottom: 2rem;
}

/* Songs section */
.playlist__songs-header {
	display: grid;
	grid-template-columns: var(--columns-playlist); 
	font: var(--font-small-text);
	color: var(--color-primary-darker);
	text-transform: uppercase;
	padding: var(--gap-small) 0;
	margin: 0 var(--gap-large) var(--gap-small) var(--gap-medium);
	border-bottom: solid 0.1rem var(--color-secondary-lighter);
}

.playlist__songs {
	padding-bottom: var(--gap-small);
}

/* Song */
.playlist__song-title {
	font: var(--font-body);
	margin-bottom: var(--gap-extra-small);
}

.playlist__song {
	display: grid;
	align-items: center;
	grid-template-columns: var(--columns-playlist); 
	width: 100%;
	padding: var(--gap-small) var(--gap-large);
	border: none;
	font: var(--font-small-text);
	text-align: start;
}

.playlist__song:hover {
	background-color: var(--color-secondary-lighter);
}

.playlist__song-artwork {
	margin-right: 2rem;
}

.playlist__song-number {
	font: var(--font-sub-header);
}

.playlist__song-menu {
	justify-self: center;
	width: 3rem;
	height: 3rem;
}

.playlist__song-menu {
	display: none;
}

.playlist__song:hover .playlist__song-menu,
.playlist__song:focus .playlist__song-menu,
.playlist__song:focus-within .playlist__song-menu {
	display: block;
}

.playlist__song-menu img {
	filter: var(--filter-primary-default);
}

.playlist__song-menu:hover img,
.playlist__song-menu:active img {
	filter: var(--filter-primary-darkest);
}

@media only screen and (max-width: 900px) {
	.playlist__menu-button {
		opacity: 1;
	}

	.playlist__song-menu {
		display: block;
	}
}

@media only screen and (max-width: 700px) {
	.playlist__album,
	.playlist__song-album {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	.playlist__empty,
	.playlist__number,
	.playlist__time,
	.playlist__song-artwork,
	.playlist__song-number,
	.playlist__song-time {
		display: none;
	}
}