/* Not using 'display: none' as it not able to use in keyframes */

.player-container {
	grid-column: 1 / 3;
}

.player {
	display: none;
	align-items: center;
	grid-template-columns: 2fr 4fr 2fr;
	height: var(--player-height);
	padding: 1rem;
	color: var(--color-primary-default);
	background-color: var(--color-secondary-default);
	border-top: solid 0.1rem var(--color-secondary-lighter);
}

.player--open {
	display: grid;
}

/* Buttons (not play) */
.player__previous,
.player__next,
.player__shuffle,
.player__repeat,
.player__mute {
	filter: var(--filter-primary-default);
}

.player__previous:hover,
.player__next:hover,
.player__shuffle:hover,
.player__repeat:hover,
.player__mute:hover {
	filter: var(--filter-primary-darkest);
}

.player__previous:focus,
.player__next:focus,
.player__shuffle:focus,
.player__repeat:focus,
.player__mute:focus {
	filter: var(--filter-primary-default);
}

/* Sliders */
.player__timeline,
.player__volume {
	width: 100%;
	appearance: none;
	height: 0.3rem;
	background-color: var(--color-primary-darkest);
}

.player__timeline::-webkit-slider-thumb,
.player__volume::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 1.4rem;
	height: 1.4rem;
	background-color: var(--color-primary-default);
	border-radius: 50%;
}

/* Section 1 */
.player__section-1 {
	display: flex;
	gap: 1rem;
}

.player__artwork {
	flex-shrink: 0;
	width: var(--artwork);
	height: var(--artwork);
}

.player__names {
	display: flex;
	flex-direction: column;
}

.player__title {
	text-transform: uppercase;
}

.player__artist {
	font: var(--font-small-text);
}

/* Section 2 */
.player__section-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

/* Section 2 - top */
.player__top {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.player__play {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--play-button-small);
	height: var(--play-button-small);
	border-radius: 50%;
	background-color: var(--color-primary-default);
}

.player__play:hover {
	background-color: var(--color-primary-darkest);
}

.player__play:focus {
	background-color: var(--color-primary-default);
}

.player__play img {
	width: 2.4rem;
	height: 2.4rem;
	filter: var(--filter-secondary-default);
}

.player__repeat--active,
.player__shuffle--active {
	filter: var(--filter-highlight-default) !important;
}

/* Section 2 - bottom */
.player__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.player__current,
.player__duration {
	font: var(--font-small-text);
	width: 4rem;
	flex-shrink: 0;
	flex-grow: 0;
}

/* Section 3 */
.player__section-3 {
	display: flex;
	justify-self: flex-end;
	align-items: center;
	gap: 1rem;
}

.player__volume {
	width: 10rem;
}

.player__mute {
	width: 2rem;
	height: 2rem;
}

.player__mute img {
	height: 100%;
	width: auto;
}

.player__close {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	align-self: flex-start;
	visibility: hidden;
	pointer-events: none;
}

.player__close img {
	filter: var(--filter-primary-default);
}

.player__close:hover img,
.player__close:active img {
	filter: var(--filter-primary-darkest);
}

@media only screen and (max-width: 900px) {
	.player {
		position: absolute;
		top: calc(100% - var(--navigation-height));
		transform: translateY(-100%);
		justify-content: space-between;
		cursor: pointer;
		width: 100%;
		padding-bottom: 1.4rem;
	}

	.player--open {
		display: flex;
	}


	.player__section-2 {
		height: auto;
	}

	.player__section-3 {
		display: none;
	}

	.player__top {
		gap: unset;
	}

	.player__shuffle, 
	.player__next, 
	.player__previous,
	.player__next,
	.player__repeat,
	.player__current,
	.player__duration {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	.player__shuffle, 
	.player__next, 
	.player__previous,
	.player__next,
	.player__repeat {
		width: 2.8rem;
		height: 2.8rem;
	}

	.player--open {
		display: flex;
	}

	.player__play {
		margin-right: 1rem;
	}

	.player__play img {
		width: 3.2rem;
		height: 3.2rem;
	}

	.player__play,
	.player__play:hover,
	.player__play:active,
	.player__play:focus {
		background: none;
	}

	.player__play img {
		filter: var(--filter-primary-default);
	}

	.player__play:hover img,
	.player__play:active img {
		filter: var(--filter-primary-darkest);
	}
	
	.player__timeline {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	.player__timeline {
		user-select: none;
		pointer-events: none;
	} 

	.player__timeline::-webkit-slider-thumb {
		opacity: 0;
		transition: opacity 0.0001s 0.2s;
	}

	/* Mobile: player maximized */
	.player--maximized {
		cursor: unset;
		animation: player-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__shuffle, 
	.player--maximized .player__next, 
	.player--maximized .player__previous,
	.player--maximized .player__next,
	.player--maximized .player__repeat,
	.player--maximized .player__current,
	.player--maximized .player__duration {
		animation: controllers-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__close {
		animation: controllers-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__title,
	.player--maximized .player__artist {
		animation: names-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__section-1 {
		animation: section-1-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__section-2 {
		animation: section-2-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__top {
		animation: section-2-top-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__play {
		animation: play-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__artwork {
		animation: artwork-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__timeline {
		animation: timeline-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__play:hover {
		background-color: var(--color-primary-darkest) !important;
	}

	.player--maximized .player__play:focus {
		background-color: var(--color-primary-default) !important;
	}

	.player--maximized .player__play img {
		animation: play-icon-maximized var(--duration) ease-in-out forwards;
	}

	.player--maximized .player__timeline::-webkit-slider-thumb {
		opacity: 1;
	}

	.player--maximized .player__timeline {
		user-select: unset;
		pointer-events: unset;
	} 

	/* Mobile: player Minimized */
	.player--minimized {
		animation: player-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__shuffle, 
	.player--minimized .player__next, 
	.player--minimized .player__previous,
	.player--minimized .player__next,
	.player--minimized .player__repeat,
	.player--minimized .player__current,
	.player--minimized .player__duration {
		animation: disappear var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__close {
		animation: disappear var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__title,
	.player--minimized .player__artist {
		animation: disappear-appear-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__section-1 {
		animation: section-1-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__section-2 {
		animation: section-2-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__top {
		animation: section-2-top-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__play {
		animation: play-to-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__play img {
		animation: play-icon-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__artwork {
		animation: artwork-to-minimized var(--duration) ease-in-out forwards;
	}

	.player--minimized .player__timeline {
		animation: timeline-minimized var(--duration) ease-in-out forwards;
	}
}
